on fota-update
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /mnt/sdcard
    export PATH /sbin:/data/data/com.lge.omadmclient/files/

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

    #mount rootfs rootfs / rw remount


# mount mmc partitions

	mount ext4 /dev/block/mmcblk0p8 /system rw barrier=1,data=journal
	
	#convert ext3 to ext4 
    exec /system/bin/tune2fs -o extents,uninit_bg,dir_index /dev/block/mmcblk0p9

    #repair automatically file system
    exec /system/bin/e2fsck -p /dev/block/mmcblk0p9

    # Mount /data
    mount ext4 /dev/block/mmcblk0p9 /data wait noatime nosuid nodev nomblk_io_submit,errors=panic,data=journal

    # Mount /cache
    mount ext4 /dev/block/mmcblk0p10 /cache wait noatime nosuid nodev nomblk_io_submit,errors=panic,data=journal 

#	P2 ICS
#	 wait /dev/block/platform/omap/omap_hsmmc.1/by-name/system
#    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/system /system rw barrier=1,data=journal
	
#    wait /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata
#    exec /system/bin/tune2fs -u system -m 10 /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata /data
#    exec /system/bin/e2fsck -p /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata
#    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata /data nosuid nodev barrier=1,data=journal,noauto_da_alloc
    
	wait /dev/graphics/fb0
	wait /dev/tty0
	
    chown system system /data
    chmod 0771 /data   

